NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api

JWT_SECRET=your-secret
API_SECRET=your-secret

NEXTAUTH_SECRET=your-secret
NEXTAUTH_URL=http://localhost:3000

DATABASE_URL=postgresql://user:password@localhost:5432/db

NEXT_PUBLIC_S3_URL=https://your-bucket.s3.amazonaws.com
S3_ACCESS_KEY=your-key
S3_SECRET_KEY=your-key

TMDB_API_KEY=твой_api_ключ
TMDB_ACCESS_TOKEN=твой_ключ_доступа

NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX