@import "tailwindcss";

:root {
  --red-45: #E50000;
  --red-50: #FF0000;
  --red-55: #FF1919;
  --red-60: #FF3333;
  --red-80: #FF9999;
  --red-90: #FFCCCC;
  --red-95: #FFE5E5;
  --red-99: #FFFAFA;

  --black-06: #0F0F0F;
  --black-08: #141414;
  --black-10: #1A1A1A;
  --black-12: #1F1F1F;
  --black-15: #262628;
  --black-20: #333333;
  --black-25: #404040;
  --black-30: #4C4C4C;

  --grey-60: #999999;
  --grey-65: #A6A6A6;
  --grey-70: #B3B3B3;
  --grey-75: #BFBFBF;
  --grey-90: #E4E4E7;
  --grey-95: #F1F1F3;
  --grey-97: #F7F7F8;
  --grey-99: #FCFCFD;

  --white: #FFFFFF;
  --black: #000000;
}

@layer base {
  body {
    font-family: var(--font-manrope), sans-serif;
    background: var(--black-06);
    color: var(--white);
    overflow-x: hidden;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@layer components {
  .nav-link {
    @apply px-4 py-2 rounded-[8px] text-sm font-medium transition-colors text-[#B3B3B3] hover:text-white;
  }

  .nav-link-active {
    @apply bg-[#262628] text-white px-6 py-3;
  }
}

@theme {
  --animate-scroll-right: scrollRight 65s linear infinite;
  --animate-scroll-left: scrollLeft 65s linear infinite;

  @keyframes scrollRight {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-30%);
    }
  }

  @keyframes scrollLeft {
    from {
      transform: translateX(-30%);
    }

    to {
      transform: translateX(0%);
    }
  }
}

.animate-scroll-right {
  animation: scrollRight 55s linear infinite;
}

.animate-scroll-left {
  animation: scrollLeft 55s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type="datetime-local"] {
  color-scheme: var(--red-60);
  /* Самый простой способ заставить браузер адаптировать календарь */
}

/* Дополнительно для настройки иконки календаря */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* В ваш CSS файл */


.hide-footer {
  display: none !important;
}

.hide-layout-elements {
  display: none !important;
}



.hide-layout header,
.hide-layout footer {
  display: none !important;
}

/* Если футер все еще торчит из-за отступов, добавь это: */
.hide-layout main {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

@media (max-width: 767px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}